In [1]:
import pandas as pd

df = pd.DataFrame({'mileage':[19,19,20,20,20,21,21,21,
                              22,23,24,25,25,27,28,32,33,34,35]})
df

    mileage
0        19
1        19
2        20
3        20
4        20
5        21
6        21
7        21
8        22
9        23
10       24
11       25
12       25
13       27
14       28
15       32
16       33
17       34
18       35

In [11]:
value=list(df['mileage'])

In [12]:
value

[19, 19, 20, 20, 20, 21, 21, 21, 22, 23, 24, 25, 25, 27, 28, 32, 33, 34, 35]

In [19]:
mean=sum(value)/len(value)
print("mean of mileage=",mean)

mean of mileage= 24.68421052631579

In [21]:
print("median of",df.median())

median of mileage    23.0
dtype: float64

In [23]:
print("mean absolute deviation",df.mad())

mean absolute deviation mileage    4.371191
dtype: float64

C:\Users\adity\AppData\Local\Temp\ipykernel_8916\2384831366.py:1: FutureWarning: The 'mad' method is deprecated and will be removed in a future version. To compute the same result, you may do `(df - df.mean()).abs().mean()`.
  print("mean absolute deviation",df.mad())

In [31]:
list1=[]
for i in value:
    # print("mean square deviation", mean-i)
    list1.append((mean-i)**2)
print("mean square deviation=",sum(list1)/len(value))

mean square deviation= 27.058171745152357

In [36]:
print("variance of",df.var())

variance of mileage    28.561404
dtype: float64

In [46]:
print("standard daviation of",df.std())

standard daviation of mileage    5.344287
dtype: float64